/* BEGIN CODE HERE */

.header, .footer, .frame {
    width: 1200px ;
    margin: 0 auto;
    box-sizing: border-box;
}

.header {
    height: 150px;
    border-bottom: 2px solid #e0e0e0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.footer {
    display: flex;
    height: 100px;
    border-top: 2px solid #e0e0e0;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    
}

.frame {
    width: 1200px;
    height: 400px;
    margin-top: 20px;

}

.iframe {
    height: 600px;
    margin-top: 20px;
    
}

nav a {
    display: inline-block;
    padding: 10px 10px;
    color: #2321af;
    text-decoration: none;
    
}

nav a.active{
    color: #ffffff;
    border: 2px  #2321af;
    background-color: #2321af;
    border-radius: 5px;
    
   
 
}

.container {
    display: flex;
}

.left-frame,
.right-frame {
    flex: 1;
    justify-content: flex-start;
}

.part1,
.part3,
.part4 {
    flex: 1;
}

.part2 {
    
    flex: 1;
    padding: 10px;
}

.up {
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

.down {
    width: 300px;height: 200px;
    display: flex;
    align-items: center;
}



/* END CODE HERE */